<%- include('header'); -%>

<div  id="container">
    <div class="image-section" style="width: 50%;" id="sec">
       <div class="image-container">
         <img src="images/customers.png" alt="Customers-image" id="img">
       </div>
    </div>
    <div class="text-section " style="width: 50%; width:80%" id="sec">
       
        <div class="text-container">
            <h1 style="font-weight: 900;">5G Network Technology</h1>
            <p class="text" style="color: #6B728E;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam nostrum, nihil deserunt deleniti sit voluptates dolorum consequuntur debitis distinctio aperiam laboriosam, ad quia dolores natus veritatis? Minima eaque commodi beatae!</p>
            <br>
            <a class="btn btn-danger" id="btn" href="/speed">Start Test -></a>
        </div>
    </div>
</div>

<div class="background">
</div>



<div class="Thirdsection">
    <h3 style="font-weight: bolder;">As Seen on</h3>
    <div class="container" id="brand-container" style="margin-top: 25px;">
        <div class="brand"><img src="images/img6.png" alt=""></div>
        <div class="brand"><img src="images/img2.png" alt=""></div>
        <div class="brand"><img src="images/img3.png" alt=""></div>
        <div class="brand"><img src="images/img4.png" alt=""></div>
        <div class="brand"><img src="images/img5.png" alt=""></div>
    </div>
</div>

<div class="SecondSection">
    <div class="container" style="padding: 3% 5%;">
        <h2 style="margin-bottom: 25px;">Measure your internet connection speed with our fast and reliable speed test app.</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, soluta numquam magni deleniti perspiciatis eligendi in? Dolorum, sapiente eaque. Exercitationem, impedit repellendus. Placeat sequi nobis amet quod. Quod, suscipit eius?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti quos, voluptatum reprehenderit veritatis ipsam suscipit laudantium eum veniam omnis sequi pariatur ipsa consequatur sunt voluptas natus tempore. Vel, explicabo magnam.
    </div>
</div>

<div class="fourthSection">
    <div class="feature">
        <i class="fa-solid fa-circle-check" id="flaticons"></i>
        <h2 class="header">Easy to Use</h2>
        <p class="info">So easy to use,even your kid can do it.</p>

    </div>
    <div class="feature">
        <i class="fa-sharp fa-solid fa-globe" id="flaticons"></i>
        <h2 class="header">Elite Clientele</h2>
        <p class="info">We have all the Clients from different Country.</p>
    </div>
    <div class="feature">
        <i class="fa-solid fa-heart" id="flaticons"></i>
        <h2 class="header">Guaranteed to Work</h2>
        <p class="info">Operate with Any device</p>
    </div>
</div>

<div class="fifthSection">
    <div>
        <h1 class="lastheader">
            Unleash the Need of speed
        </h1>
        <div class="buttoncontainer">
            <button type="button" class="btn btn-light" style="padding: 10px;"><i class="fa-brands fa-apple"></i> Download</button>
            &nbsp;
            <button type="button" class="btn btn-light" style="padding: 10px;"><i class="fa-brands fa-android"></i> Download</button>
        </div>
    </div>
    
</div>



<%- include('footer'); -%>