<%- include("header"); -%>

<div class="flex-card">
    <div class="product-info card" style="box-shadow:  20px 20px 60px #8f8f8f,-20px -20px 60px #ffffff; border-radius:50px;">
    
        <div style="background-color: #213555; color:#fff;">
            <div style="padding: 15px; text-align:center;">
                <h2>Network Speed App</h2>
                <p>Measure, optimize, and monitor your network speed with ease.</p>
            </div>
        </div>
        <div style="padding: 15px; padding-left:20px; padding-right:20px;"></div>
        <div class="container">
         <p style="text-align: center;">Key Features:</p>
        <ul style="list-style-type: none;">
          <li>Accurate speed testing</li>
          <li>Performance optimization recommendations</li>
          <li>Troubleshooting assistance</li>
          <li>Network security assessment</li>
          <li>Real-time monitoring</li>
          <li>Historical data analysis</li>
          <li>Customized reporting</li>
        </ul> 
        </div>
        <div style="text-align: center; margin-bottom:20px;">
            <p class="price">$9.99/month</p>
            <a href="signup.html" class="btn btn-dark">Get Started</a>
        </div>
    </div>
    
</div>
</div>
    

 
<%- include("footer"); -%>