<%- include("header"); -%>


<div class="loader" id="loader"></div>




<div class="container" id="res-con" style="color: #6B728E;">
    <div class="btn-container" id="res-ele">
        <h4>Click below to Check Your Network speed</h4>
        <button class="btn btn-danger" id="btn">Start</button>
    </div>
    <div class="card">
        <div class="card-content" id="res-ele">
          <h2 class="card-title">Here are your Results</h2>
          <p class="card-text">Your Network speed is : <span id="result"></span></p>
        </div>
      </div>
</div>


<%- include("footer"); %>